doctype html
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="css/main.css")
        
        block title
            title Тестовая страница
    body
        block pagecontent
            h1 content
